@media (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 90%;
        display: block;
        padding: 15px;
        border-radius: 25px;
        border: 2px solid #26256A;
        box-sizing: border-box;
        background-color: #26256A;
        color: #26256A;
        font-weight: bold; /* Yazı tipi kalın */
        margin: 10px auto; /* Yatayda merkezlemek için */
    }
}

input::placeholder {
    color: white;
    font-weight: bold;
}

header {
    background-color: #26256A;
    color: white;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
    font-weight: 1000;
    font-style: normal;
    font-weight: normal;
    font-family: "Brush Script MT", cursive;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115%;
    height: 350px;
    max-width: 2000px; /* Maximum genişlik ayarlanabilir */
    background-color: #26256A;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: #26256A;
}


footer {
    text-align: center;
    width: 100%;
    border-radius: 30px; /*ovallik*/
    position: fixed;
    bottom: 0;
    background-color: #26256A;
    box-sizing: border-box;
    z-index: 1000;
    padding:0%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #26256A;
    text-align: center;
    font-family: sans-serif;
    padding: 60px 20px 90px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px 15px 6px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Genişlik isteğe göre ayarlanabilir */
    max-width: 700px; /* Maksimum genişlik */
}


.input-container {

    width: 110%;
    margin: 13px;

}
.adsoyad{
    width: 120%;
    padding: 20px;
    margin: 0;
    border: 2px solid #26256A;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #26256A;
    color: #26256A;
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 15px 15px 10px;
    margin: 0;
    left: center;
    right: center;
    border: 2px solid #9cb0db;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #b3c4ea;
    color: #26256A;
    font-weight: bold;
}


input::placeholder {
    color: #26256A;
    font-weight: bold;
}


button[type="submit"] {
    background-color: #26256A;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


button[type="submit"]:hover {
    background-color: #26256A;
}

.uni-logo {
    display: block;
    margin:10px auto;
    max-width: 20%;
    height: 75%;
    text-align: center;
}