<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duraklar</title>
    <link rel="stylesheet" href="/static/duraklar.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Ringim Nerede?</h1>
        </header>
        <main>
            <div class="harita">
                <div class="rota">
                    <div class="durak" style="top: 10%; left: 20%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Eğitim Fakültesi</span>
                    </div>
                    <div class="durak" style="top: 30%; left: 35%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>1 Nolu Yemekhane</span>
                    </div>
                    <div class="durak" style="top: 50%; left: 45%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Kütüphane</span>
                    </div>
                    <div class="durak" style="top: 20%; left: 90%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>K.Y.K. Yurtları</span>
                    </div>
                    <div class="durak" style="top: 60%; left: 85%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Tekstil Mühendisliği</span>
                    </div>
                    <div class="durak" style="top: 80%; left: 0%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Öğrenci Köyü</span>
                    </div>
                    <div class="durak" style="top: 50%; left: 5%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Su Ürünleri Fakültesi</span>
                    </div>
                    <div class="durak" style="top: 70%; left: 28%;">
                        <div class="durak-icon"><img src="/static/durakicon.png"></div>
                        <span>Elektrik-Elektronik Mühendisliği</span>
                    </div>
                </div>

            </div>
        </main>
        <footer>
            <div class="icons">
                <button class="icon-btn" onclick="window.location.href='duraklar'"><img src="/static/durak.png"></button>
                <button class="icon-btn" onclick="window.location.href='anasayfa'"><img src="/static/kullanici.png"></button>
                <button class="icon-btn" onclick="window.location.href='saatler'"><img src="/static/saat.png"></button>
            </div>
        </footer>
    </div>
</body>
</html>