<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hareket Saatleri</title>
    <link rel="stylesheet" href="/static/saatler.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Ringim Nerede?</h1>
        </header>
        <main>
            <div class="saatler">
                <div class="once">
                    <h2>ÖĞLEDEN ÖNCE</h2>
                    <ul>
                        <li>7.30</li>
                        <li>7.45</li>
                        <li>8.00</li>
                        <li>8.15</li>
                        <li>8.30</li>
                        <li>8.45</li>
                        <li>9.00</li>
                        <li>9.15</li>
                        <li>9.30</li>
                        <li>9.45</li>
                        <li>10.00</li>
                        <li>10.15</li>
                        <li>10.30</li>
                        <li>10.45</li>
                        <li>11.00</li>
                        <li>11.15</li>
                        <li>11.30</li>
                    </ul>
                </div>
                <div class="sonra">
                    <h2>ÖĞLEDEN SONRA</h2>
                    <ul>
                        <li>13.30</li>
                        <li>13.45</li>
                        <li>14.00</li>
                        <li>14.15</li>
                        <li>14.30</li>
                        <li>14.45</li>
                        <li>15.00</li>
                        <li>15.15</li>
                        <li>15.30</li>
                        <li>15.45</li>
                        <li>16.00</li>
                        <li>16.15</li>
                        <li>16.30</li>
                        <li>16.45</li>
                        <li>17.00</li>
                        <li>17.15</li>
                        <li>17.30</li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            <div class="icons">
                <button class="icon-btn" onclick="window.location.href='duraklar'"><img src="/static/durak.png"></button>
                <button class="icon-btn" onclick="window.location.href='anasayfa'"><img src="/static/kullanici.png"></button>
                <button class="icon-btn" onclick="window.location.href='saatler'"><img src="/static/saat.png"></button>
            </div>
        </footer>
    </div>
</body>
</html>